<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSRCuprCOAPS7pNW6YZMNSMddxaJAI_Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>310248746121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>gym-tracker-app-2ac61</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-tracker-app-2ac61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310248746121:ios:c6bdc53dbfb599e71d6a58</string>
	<key>DATABASE_URL</key>
	<string>https://gym-tracker-app-2ac61-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>